.Home-page {
  height: 100vh;
  width: 100vw;
}

h1 {
  transition: width 2s;
}

h1:hover {
  background-color: rgb(226, 140, 140);
  width: 80%;
}

.ride-btns {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.ride-btns > button {
  border: 0;
  border-radius: 3;
  box-shadow: "0 3px 5px 2px rgba(255, 105, 135, .3)";
  color: "white";
  height: 1.4rem;
  width: 30%;
  font-family: monospace;
  font-weight: bold;
  font-size: 0.5rem;
  color: white;
}

div.hme {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
}

div.vhme-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
  grid-template-rows: auto auto;
}

div.hme-v img {
  height: 2rem;
  width: 2rem;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff6e7f 0%,
    #bfe9ff 51%,
    #ff6e7f 100%
  );
}
.btn-grad {
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(22, 21, 21);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
